@{
    ViewData["Title"] = "El Abuelo";
}

<div class="text-center">
    <h1 class="display-4">Artesanías El Abuelo</h1>
    <p>Con cariño, desde Paraná. </p>
</div>

<div class="row">
    <div class="col-6">
        <section>
            <h3> Acerca de mí </h3>
            <p> Soy un argentino que en su tiempo libre, gusta de realizar proyectos y artesanías.</p>

        </section>
    </div>
</div>
